<div class="content-header">
    <div>
          <input type="radio" id="html" name="fav_language" value="HTML" style="width: 15px;">
    </div>
    <div style="width: 4rem; height: 4rem;">
        <img src={{carBrand?.logoUrl}}>
    </div>
    <div [hidden]="!carBrand?.active" class='divider-active'></div>
    <div [hidden]='carBrand?.active' class='divider-inactive'></div>
    <div style="flex-direction: column; width: 15rem;">
        <div style="font-weight: 500; font-size: 20px">{{carBrand?.name}}</div>
        <div style="font-weight: 400; font-size: 14px">{{carBrand?.description | nzEllipsis: 10:'...'}}
            <span style="margin: 0 .5rem;">|</span>
            <span style="color: #0F5EDD; font-weight: 500;">{{carBrand?.models}} Models</span>
        </div>
    </div>
    <div style="flex-direction: column; ">
        <div style="font-weight: 500; font-size: 14px">Last Update</div>
        <div style="font-weight: 400; font-size: 14px"> {{carBrand?.modified}} </div>
    </div>
    <div>
        <button class="button-status" nz-button nzType="default">
            <div [hidden]="!carBrand?.active">
                <img src="../../../assets/images/dot-icon.svg">
                <span style="color: #1F7B4D; margin-left: 0.5rem;">Active</span>
            </div>
            <div [hidden]="carBrand?.active">
                <img src="../../../assets/images/black-dot-icon.svg">
                <span style="color: #5F5F5F; margin-left: 0.5rem;">Inactive</span>
            </div>
        </button>
    </div>
    <div style="position: relative; height: inherit; width: inherit;">
        <button class="button-detail" 
        nz-button nzType="primary"
        (click)="viewDetail_onClick(carBrand?.id)">
            View Details
        </button>
    </div>
</div>